
.add-reminder{
    float: right;
    font-size:26px;
}

.selection-bar > div{
    background-color: royalblue;
}

.stop-selection{
    font-size: 26px;
}

.delete-reminders{
    font-size: 26px;
    float: right;
}

.toggle-selection{
    font-size: 26px;
    float: right;
    margin-right: 10px;
}