<ion-header [translucent]="true">
  <ion-toolbar [class]="selecting ? 'selection-bar' : ''" >
    <ion-title *ngIf="!selecting">
      Lembretes
      <ion-icon class="add-reminder" [routerLink]="'/create/reminder/0'" name="add-outline"></ion-icon>
      <ion-icon class="toggle-selection" name="layers-outline" (click)="toggleHold()"></ion-icon>
    </ion-title>
    <ion-title *ngIf="selecting">
      <ion-icon name="close-outline" class="stop-selection" (click)="quitSelection()"></ion-icon>
      <ion-icon name="trash-outline" class="delete-reminders" *ngIf="selectedReminders.length > 0" (click)="deleteReminders()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <!--
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  -->

  <ion-list>
    <app-reminder *ngFor="let reminder of getReminders()" [reminder]="reminder" [reminderService]="reminders" [selecting]="selecting" [selectedReminders]="selectedReminders"></app-reminder>
  </ion-list>
</ion-content>