
.add-reminder{
    float: right;
    font-size:26px;
}

.selection-bar > div{
    background-color: royalblue;
}

.stop-selection{
    font-size: 26px;
}

.delete-reminders{
    font-size: 26px;
    float: right;
}

.toggle-selection{
    font-size: 26px;
    float: right;
    margin-right: 10px;
}

.no-reminders{
    font-size: 18px;
    text-align: center;
    padding: 0 11px;
}

.no-reminders > a{
    text-decoration: none;
}

.moving-arrow{
    color:#495dea;
    animation-name: arrow-anim;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: -3px;
}

.title{
    color:#333;
    transition: all .2s ease;
}

.title-animation{
    animation-name: pulsing-title-anim;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulsing-title-anim {
    from{
        text-shadow: 1px 1px #495cea86, -1px -1px #495cea86;
    }
    to{
        text-shadow: 1px 1px white, -1px -1px white;
    }
}

@keyframes arrow-anim {
    from{
        margin-left: 0px;
    }
    to{
        margin-left: 20px;
    }
}

#search-button{
    position: absolute;
    bottom:16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #495dea;
    color:#FFF;
    font-size:22px;
}