<ion-header [translucent]="true">
  <div id="first-visit-overlay" *ngIf="showFirstVisitAnimation()">
    <div class="touchable-part" [routerLink]="'/about'" (click)="clickingMore()"></div>
  </div>
  <ion-toolbar [class]="selecting ? 'selection-bar' : ''" >
    <ion-title *ngIf="!selecting" [routerLink]="'/about'" (click)="clickingMore()">
      <a class="title" [class.title-animation]="showFirstVisitAnimation()">Lembretes</a> <ion-icon name="arrow-back-outline" *ngIf="showFirstVisitAnimation()" class="moving-arrow"></ion-icon>
    </ion-title>
    <ion-buttons slot="end" *ngIf="!selecting">
      <ion-button *ngIf="getReminders().length > 0" class="ion-activatable ripple-parent" (click)="toggleHold()">
        <ion-icon name="layers-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
      <ion-button class="ion-activatable ripple-parent" [routerLink]="'/create/reminder/0'">
        <ion-icon name="add-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </ion-buttons>


    <ion-buttons *ngIf="selecting" slot="start">
      <ion-button class="ion-activatable ripple-parent" (click)="quitSelection()">
        <ion-icon name="close-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="selecting">
      {{nOfSelectedReminders}} selecionado(s)
    </ion-title>
    <ion-buttons *ngIf="selecting" slot="end">
      <ion-button slot="end" class="ion-activatable ripple-parent" *ngIf="nOfSelectedReminders > 0" (click)="deleteReminders()">
        <ion-icon name="trash-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <h1 class="no-reminders" *ngIf="getReminders().length === 0">
    Voce ainda não possui lembretes,<a [routerLink]="'/create/reminder/0'">
      adicione um já
    </a>
  </h1>
  <ion-list cdkDropList (cdkDropListDropped)="drop($event)">
    <app-reminder [teste]="teste" *ngFor="let reminder of getReminders()" [nOfSelectedReminders]="nOfSelectedReminders" [reminder]="reminder" [reminderService]="reminderService" [selecting]="selecting" [selectedReminders]="selectedReminders"></app-reminder>
  </ion-list> 
  <button id="search-button" class="ion-activatable ripple-parent" [routerLink]="'/search'">
    <ion-icon name="search-outline"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </button>
</ion-content>