<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" ></ion-back-button>
    </ion-buttons>
    <ion-input #searchInput autofocus="true" type="search" placeholder="Lembrar de estudar" [(ngModel)]="searchInputModel"> </ion-input>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <app-search-reminder *ngFor="let reminder of getReminders()" [reminder]="reminder"></app-search-reminder>
  </ion-list> 
</ion-content>