<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ reminder.title.length > 10 ? reminder.title.substring(-1,10) + '...' : reminder.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="edit-reminder" name="create-outline" [routerLink]="'/create/reminder/' + reminder.id"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="reminder">
  <div class="ion-padding">
    <h1>{{ reminder.title }}</h1>
    <p>
      {{ reminder.content }}
    </p>
    <span class="date">
      <ion-note>{{ reminder.creationDate.toLocaleDateString() }}</ion-note>
    </span>
  </div>
</ion-content>
