<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ reminder.event ? "Evento" : "Lembrete"}}</ion-title>

    <ion-buttons slot="end">
      <ion-button class="ion-activatable ripple-parent" [routerLink]="'/create/reminder/' + reminder.id">
        <ion-icon  name="create-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="reminder">
  <div class="ion-padding">
    <h1>{{ reminder.title }}</h1>
    <p>
      {{ reminder.content }}
    </p>
    <p>
      Cep do local {{ reminder.cep }}
    </p>
    <p>
      Rua {{ reminder.street }}
    </p>
    <p>
      Numero {{ reminder.number }}
    </p>
    <p>
      Evento marcado para {{ eventDateFormated }}
    </p>

    <span class="date">
      <ion-note>Data de criação {{ creationDateFormated }}</ion-note>
    </span>
  </div>
</ion-content>
