<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
      <ion-button class="ion-activatable ripple-parent" (click)="addReminder()">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <div class="container">
      <ion-label>
        Titulo
      </ion-label>
      <input type="text" placeholder="Comprar leite" class="text-entry" [(ngModel)]="title" />
    </div>
  </ion-item>
  <ion-item lines="none">
    <ion-label class="desc-label">
      <h2>Descricao</h2>
    </ion-label>
    <textarea res class="text-entry" [(ngModel)]="content"></textarea>
  </ion-item>
  <ion-item lines="none" *ngIf="creationDate !== null">
    <ion-label>
      <h2>Data de criação</h2>
      <input type="text" readonly disabled class="text-entry" value="{{creationDate.toLocaleDateString()}}" />
    </ion-label>
  </ion-item>
</ion-content>
