
h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

p {
  line-height: 22px;
}

ion-buttons{
  justify-content: space-between;
}

ion-label{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ion-label > input{
  flex:1;
  min-width:100px;
  margin-left: 6px;
}

ion-item{
  padding: 0 4px;
}

ion-item:first-child{
  margin-top: 6px;
  padding-bottom: 4px;
}

.text-entry{
  border-radius: 4px;
  border:1px solid #dfdfdf; 
  padding: 4px 12px;
}

.desc-label{
  flex-direction: column !important;
  align-items: end;
}

.desc-label > h2{
  margin-bottom: 8px;
}

.desc-label > .text-entry{
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  resize: none;
}


.save-reminder{
  font-size: 26px;
  margin-right: 10px;
}