<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="id === 0">Criar lembrete</ion-title>
    <ion-title *ngIf="id !== 0">Editar lembrete</ion-title>
    <ion-buttons slot="end">
      <ion-button class="ion-activatable ripple-parent" (click)="addReminder()">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <div class="container">
      <ion-label>
        Titulo
      </ion-label>
      <input type="text" placeholder="Comprar leite" class="text-entry" [(ngModel)]="title" />
    </div>
  </ion-item>
  <ion-item lines="none">
    <div class="container">
    <ion-label class="desc-label">
      Descricao
    </ion-label>
    <textarea res class="text-entry" [(ngModel)]="content" placeholder="Passar na padaria antes de voltar pra casa pra comprar leite"></textarea>
  </div>
  </ion-item>
  <ion-item lines="none" *ngIf="creationDate !== null">
  <div class="container">
    <ion-label>
      Data de criação
    </ion-label>
    <input type="text" readonly disabled class="text-entry" value="{{creationDate.toLocaleDateString()}}" />
  </div>
  </ion-item>
  <ion-item lines="none">
      <ion-checkbox slot="start" color="primary" checked={{eventCheck}} [(ngModel)]="eventCheck" disabled={{!onInternet}}></ion-checkbox>
      <ion-label>
        Evento ?
      </ion-label>
      <div class="help" (click)="toggleHelp('Para utilizar esse campo é necessário possuir internet')" style="display: none;">
        ?
      </div>
  </ion-item>
  <ion-item lines="none" *ngIf="eventCheck === true">
    <div class="container">
      <ion-label>
        CEP
      </ion-label>
      <input type="text" (blur)="searchCEP(cep)" disabled={{!eventCheck}} onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))" placeholder="57303777" class="text-entry" maxlength="8" [(ngModel)]="cep" />
    </div>
  </ion-item>
  <ion-item lines="none" *ngIf="eventCheck === true">
    <div class="container">
      <ion-label>
        Rua
      </ion-label>
      <input type="text" disabled={{!eventCheck}} placeholder="Rua Santo Felipe Benício" class="text-entry" [(ngModel)]="street" />
    </div>
    <div class="container" >
      <ion-label>
        Número
      </ion-label>
      <input type="number" disabled={{!eventCheck}} placeholder="2331" class="text-entry" [(ngModel)]="number" />
    </div>
  </ion-item>
  <ion-item lines="none" *ngIf="eventCheck === true">
    <div class="container" >
      <ion-label>
        Data de evento
      </ion-label>
      <ion-datetime disabled={{!eventCheck}} [(ngModel)]="eventDate" placeholder={{today}} display-timezone="utc"></ion-datetime>
      <!--<input type="text" disabled={{!eventCheck}} placeholder="57303-777" class="text-entry" [(ngModel)]="cep" />-->
    </div>
  </ion-item>
</ion-content>
