.about-section-title{
    margin:12px 0;
}

.text-wrapper{
    padding:0 18px 12px 18px;
}

.about-section-title:first-of-type{
    margin-top:20px;
}

ion-text{
    color:#333;
}

ion-note{
    margin-left:6px;
}