<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-title class="about-section-title">APP Lembretes</ion-title>
  <div class="text-wrapper">
    <ion-text>
      Lembretes é um app desenvolvido para ajudar você que tambem tem problemas de lembrar e organizar as coisas, o mesmo foi desenvolvido por estudades da UAM.
    </ion-text>
  </div>
  <ion-title class="about-section-title">Integrantes</ion-title>
  <div class="text-wrapper">
    <ion-text>
      Gabriel de Lima S. Marcilio <ion-note>21307373</ion-note>
      <br>
      Darci Pedro S. dos Santos <ion-note>21352484</ion-note>
      <br>
      Renato T. Zardi <ion-note>20666776</ion-note>
      <br>
      Patrick P. Souza <ion-note>21223171</ion-note>
    </ion-text>
  </div>
</ion-content>